<div [formGroup]="form">
    <mat-form-field appearance="fill">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" placeholder="Ex. John">
        <mat-error>First Name is required</mat-error>
    </mat-form-field>
    
    <mat-form-field appearance="fill">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" placeholder="Ex. Garrard" >
        <mat-error>Last Name is required</mat-error>
    </mat-form-field>
    
    <mm-drink-input formControlName="drink"></mm-drink-input>
</div>