
<div fxLayout="row">
    <div fxFlex="30" class="p-5">
        <h2>Add Children</h2>
        <mm-child-input [formControl]="child"></mm-child-input>
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <div fxFlex="70" class="p-5">
        <h2>Add Carer</h2>
        <mm-guardian-input [formControl]="guardian"></mm-guardian-input>   
    </div>
</div>

<div class="save-bar" fxLayout="row" fxLayoutGap="3rem">
    <button fxFlex="130px" mat-button mat-raised-button color="accent" class="mr-2" (click)="saveClicked$.next()">Save Family</button>
    <span>The information provided will only be used by Ginninderra Christian Church and will not be forwarded to any third party. We may also use this information to inform you of any children or family related activities or events.</span>
</div>