<button class="mr-1" mat-raised-button (click)="createFamilyClicked$.next()" color="primary">Create Family</button>
<button mat-raised-button class="mr-1" color="accent" [matMenuTriggerFor]="addVisitor">
    <fa-icon class="mr-1" [icon]="['fas', 'plus']"></fa-icon>Add Person
</button>
<mat-menu #addVisitor="matMenu">
    <button routerLink="createGuardian" mat-menu-item>
        <fa-icon [icon]="['fas', 'user']" class="mr-1"></fa-icon>Adult
    </button>
    <button routerLink="createChild" mat-menu-item>
        <fa-icon [icon]="['fas', 'baby']" class="mr-1"></fa-icon>Child
    </button>
    <button routerLink="createStaffMember" mat-menu-item>
        <fa-icon [icon]="['fas', 'user-secret']" class="mr-1"></fa-icon>Staff
    </button>
</mat-menu>
<button mat-raised-button routerLink="./birthdays">
    Birthdays
</button>

<mat-nav-list>
    <a (click)="editPersonClicked$.next(person)" mat-list-item *ngFor="let person of persons$ | async">
        <fa-icon matListIcon [icon]="['fas', person.icon]"></fa-icon>
        <h4 matLine>{{ person.firstName }} {{ person.lastName }}</h4>
    </a>
</mat-nav-list>