<mat-sidenav-container class="mh-100">
    <mat-sidenav #leftSidenav class="left" mode="side" opened>
        <a routerLink=""><fa-icon [icon]="['fas', 'home']"></fa-icon></a>
    </mat-sidenav>
    <mat-sidenav-content>
        <mm-session-toolbar></mm-session-toolbar>  
        <mat-progress-bar *ngIf="showProgressBar$ | async" mode="indeterminate" color="accent"></mat-progress-bar>
        <div class="p-5">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
    <mat-sidenav #rightSidenav class="right" position="end" mode="side">
        <mm-session-family-list></mm-session-family-list>
    </mat-sidenav>
</mat-sidenav-container>
